.git/**
.gitignore
**/*.log
node_modules/**
package-lock.json
src/**
target/*.vsix
target/*.zip
target/*offline-installation.md
target/offline-*/**
**/*.map
tsconfig.json
tsconfig.render.json
eslint.config.mjs
esbuild.mjs
scripts/**
